@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

:root {
	--font-roboto: "Roboto Slab", serif;
	--font-raleway: "Raleway", sans-serif;
}

body {
	font-family: var(--font-roboto);
}

.search input,
.empty h2 {
	font-family: var(--font-raleway);
}

.movie div:nth-of-type(1) p {
	font-family: "Raleway", sans-serif;
	font-size: 20px;
}

.movie div:nth-of-type(3) span {
	font-family: "Raleway", sans-serif;
}

.movie div:nth-of-type(3) h3 {
	font-family: "Roboto Slab", serif;
}

/* theme switcher */

.checkbox {
	@apply absolute opacity-0;
}

.checkbox-label {
	@apply flex items-center justify-between cursor-pointer p-[5px] relative rounded-[50px] h-[26px] w-[50px] bg-[#f9d3b4];
}

.checkbox-label .ball {
	@apply bg-[#f9d3b4] border-[7px] border-black w-[22px] h-[22px] absolute left-[2px] top-[2px] rounded-[50%] transition-transform duration-200 ease-linear;
}

.checkbox:checked + .checkbox-label .ball {
	@apply transform translate-x-[24px];
}
